.github/
.pytest_cache/
.vscode/

cloudformation/
env/
frontend/
functions/
install/
migrations/
scripts/
tests/
**/__pycache__

*.env
*.sh
*.json
*.sql
*.md

Dockerfile
docker-compose.yaml
.dockerignore

COPYING

.DS_Store
.git
.gitignore
.pytest_cache


x.py
y.py
z.py
rds_stopper.py
