frontend/
.vscode/
env/
tests/
*.env
*.sh
Dockerfile
docker-compose.yaml
README.md
zappa_settings.json
.DS_Store
.dockerignore
.git
.gitignore
.pytest_cache
**/__pycache__
*.json
*.sql
functions/
migrations/
x.py
y.py
z.py
