aws_portal/frontend/node_modules
aws_portal/frontend/.pnp
aws_portal/frontend/.pnp.js
aws_portal/frontend/coverage
aws_portal/frontend/build
aws_portal/frontend/.DS_Store
aws_portal/frontend/.env.local
aws_portal/frontend/.env.development.local
aws_portal/frontend/.env.test.local
aws_portal/frontend/.env.production.local
aws_portal/frontend/npm-debug.log*
aws_portal/frontend/yarn-debug.log*
aws_portal/frontend/yarn-error.log*

__pycache__/
.log/
.postgresql/
.vscode/
env/
migrations/
*.env
*logfile

!flask.env
!postgres.env
!aws_portal/frontend/.env

x.py
y.py
z.py
zappa_settings.py
