frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

__pycache__/
.pytest_cache/
.ruff_cache/
.log/
.postgresql/
.vscode/settings.json
.cursor/
env/
*.env
*logfile

!flask.env
!postgres.env
!frontend/.env

x.py
y.py
z.py
zappa_settings.py

**/dummyData.json
**/dummyUsers.json

**/src/output.css

**/.DS_Store
.env.production

data.json
zappa_settings.json

project-config*.json

scripts/add_license.py