.study-row {
  display: flex;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.study-row-name {
  flex-grow: 1;
}

.study-row-summary-l {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.study-row-summary-r {
  font-weight: bold;
}

.study-row-summary {
  display: flex;
  gap: 1rem;
}
