.subject-summary {
  display: flex;
  margin-bottom: 2rem;
}

.subject-summary-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 12rem;
}

.subject-summary-taps {
  display: flex;
  flex-grow: 1;
}

.subject-summary-taps-day {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}
