.subject-header {
  margin-bottom: 1rem;
}

.subject-header-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.subject-display-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subject-display-controls {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.subject-display-field {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.subject-display {
  margin-bottom: 1rem;
}

.taps-display {
  align-items: end;
  display: flex;
  height: 24rem;
  margin-bottom: -2px;
  margin-left: -2px;
  width: 100%;
}

.taps-display-top {
  display: flex;
}

.y-axis {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 4rem;
}

.y-axis-label {
  align-items: center;
  display: flex;
}

.y-axis-label span {
  display: block;
  transform: rotate(-90deg);
}

.y-axis-tick {
  position: absolute;
  right: 2px;
  width: 0.5rem;
}

.y-axis-tick-label {
  position: absolute;
  right: 0.75rem;
}

.taps-display-bottom {
  display: flex;
  height: 6rem;
}

.x-axis-pad {
  width: 4rem;
}

.x-axis {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.x-axis-label {
  align-items: end;
  justify-content: center;
  display: flex;
  flex-grow: 1;
}

.x-axis-tick {
  position: absolute;
  top: 2px;
  height: 0.5rem;
}

.x-axis-tick-label {
  position: absolute;
  top: 0.75rem;
  transform: rotate(60deg);
  transform-origin: left;
}

.hline {
  border: 1px dashed #b3b3cc44;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.vline {
  height: 100%;
  position: absolute;
  z-index: 0;
}

.bar {
  z-index: 1;
}
