table {
  border-spacing: 0;
}

.table-control {
  display: flex;
}

.table-control-container {
  display: flex;
  height: 3rem;
}

.table-search {
  flex-grow: 1;
  display: flex;
}

.table-search-svg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 3rem;
}
