table {
  border-spacing: 0;
  margin-bottom: 1rem;
  width: 100%;
}

th {
  user-select: none;
}

th, td {
  box-sizing: border-box;
  display: inline-block;
  height: 3rem;
  padding: 0;
}

th.sortable:hover {
  background-color: #d1d1e0;
  cursor: pointer;
}

th > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

th > div, td > div {
  height: 100%;
}

th svg {
  height: 1.5rem;
  width: 1.5rem;
}

th .sort {
  display: flex;
  flex-direction: row;
}

th .sort div {
  height: 1rem;
  width: 0.9rem;
}

th .sort svg {
  bottom: 0.25rem;
  position: relative;
  right: 0.2rem;
}

th .sort-active .svg-fill {
  fill: #33334D;
}

.table-control {
  display: flex;
}

.table-control > button {
  flex-grow: 1;
  height: 100%;
}

.table-control-container {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.table-data {
  padding: 0 1rem;
}

.table-data span {
  display: block;
  margin-right: -3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.table-pagination {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  user-select: none;
}

.table-pagination-control {
  align-items: center;
  display: flex;
}

.table-pagination-control > span {
  margin-left: 1rem;
}

.pagination-button {
  height: 3rem;
  width: 3rem;
}

.pagination-button-active:hover {
  background-color: #d1d1e0;
  cursor: pointer;
}

.pagination-button-active .svg-fill {
  fill: #666699;
}

.pagination-button-active:hover .svg-fill {
  fill: #52527a;
}

.table-search {
  display: flex;
  width: 30%;
}

.table-search-svg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 3rem;
}

.no-data {
  align-items: center;
  color: #666699;
  display: flex;
  padding-left: 1rem;
  width: 100%;
}
