table {
  border-spacing: 0;
  width: 100%;
}

th, td {
  height: 3rem;
  padding: 0;
}

th > div, td > div {
  height: 100%;
}

.table-control {
  display: flex;
}

.table-control > button {
  flex-grow: 1;
  height: 100%;
}

.table-control-container {
  display: flex;
  height: 3rem;
}

.table-search {
  flex-grow: 1;
  display: flex;
}

.table-search-svg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 3rem;
}
