body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.card-row {
  display: flex;
}

.card-s {
  padding: 1.5rem;
  margin: 1.5rem; 
  width: calc(calc(100% - 18rem) / 3);
}

.card-m {
  padding: 1.5rem;
  margin: 1.5rem; 
  width: calc(calc(100% - 9rem) / 1.5);
}

.card-l {
  padding: 1.5rem;
  margin: 1.5rem; 
  width: calc(100% - 6rem);
}

.button-primary {
  background-color: #3366ff;
  border: none;
  color: white;
}

.button-primary:hover {
  cursor: pointer;
  background-color: #0040ff;
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: #f0f0f5;
}

.bg-dark {
  background-color: #33334D;
}

.border-light {
  border: 1px solid #f0f0f5;
}

.border-light-t {
  border-top: 1px solid #f0f0f5;
}

.border-light-r {
  border-right: 1px solid #f0f0f5;
}

.border-light-b {
  border-bottom: 1px solid #f0f0f5;
}

.border-light-l {
  border-left: 1px solid #f0f0f5;
}

.border-dark {
  border: 1px solid #33334D;
}

.border-dark-t {
  border-top: 1px solid #33334D;
}

.border-dark-r {
  border-right: 1px solid #33334D;
}

.border-dark-b {
  border-bottom: 1px solid #33334D;
}

.border-dark-l {
  border-left: 1px solid #33334D;
}

.shadow {
  box-shadow: 8px 8px 8px #00000016;
}

.stroke-dark .svg-fill {
  fill: #666699;
}

.stroke-dark .svg-stroke {
  stroke: #666699;
}
