body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

svg {
  display: block;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.card-row {
  display: flex;
}

.card-s {
  padding: 1.5rem;
  margin: 1.5rem; 
  width: calc(calc(100% - 18rem) / 3);
}

.card-m {
  padding: 1.5rem;
  margin: 1.5rem; 
  width: calc(calc(100% - 9rem) / 1.5);
}

.card-l {
  padding: 1.5rem;
  margin: 1.5rem; 
  width: calc(100% - 6rem);
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 3rem;
  max-height: calc(100vh - 8rem);
  overflow: scroll;
  overflow-x: hidden;
}

.page-header {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: left;
}

.page-header-button {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 3rem;
}

.page-content {
  flex-grow: 1;
  padding: 3rem;
}

.button-danger {
  background-color: #ff0000;
  border: none;
  color: white;
}

.button-danger:hover {
  cursor: pointer;
  background-color: #cc0000;
  color: white;
}

.button-primary {
  background-color: #3366ff;
  border: none;
  color: white;
}

.button-primary:hover {
  cursor: pointer;
  background-color: #0040ff;
  color: white;
}

.button-secondary {
  background-color: #33334D;
  border: none;
  color: white;
}

.button-secondary:hover {
  cursor: pointer;
  background-color: #1f1f2e;
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: #f0f0f5;
}

.bg-dark {
  background-color: #33334D;
  color: white;
}

.border-light {
  border: 1px solid #B3B3CC;
}

.border-light-t {
  border-top: 1px solid #B3B3CC;
}

.border-light-r {
  border-right: 1px solid #B3B3CC;
}

.border-light-b {
  border-bottom: 1px solid #B3B3CC;
}

.border-light-l {
  border-left: 1px solid #B3B3CC;
}

.border-dark {
  border: 1px solid #33334D;
}

.border-dark-t {
  border-top: 1px solid #33334D;
}

.border-dark-r {
  border-right: 1px solid #33334D;
}

.border-dark-b {
  border-bottom: 1px solid #33334D;
}

.border-dark-l {
  border-left: 1px solid #33334D;
}

.flex-center {
  align-items: center;
  display: flex;
}

.link {
  color: #666699;
  text-decoration: underline;
}

.link-no-underline {
  color: #666699;
}

.link:hover,
.link-no-underline:hover {
  color: #52527a;
  cursor: pointer;
}

.link-svg .svg-fill {
  fill: #666699;
}

.link-svg .svg-stroke {
  stroke: #666699;
}

.link-svg:hover {
  cursor: pointer;
}

.link-svg:hover .svg-fill {
  fill: #52527a;
}

.link-svg:hover .svg-stroke {
  stroke: #52527a;
}

.shadow {
  box-shadow: 8px 8px 8px #00000016;
}

.admin-form {
  display: flex;
}

.admin-form-content {
  flex-grow: 1;
  margin-right: 3rem;
}

.admin-form-field {
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
}

.admin-form-row {
  display: flex;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  color: rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  width: 26px;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}
