body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-primary {
  background-color: #3366ff;
  border: none;
  color: white;
}

.button-primary:hover {
  cursor: pointer;
  background-color: #0040ff;
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: #f0f0f5;
}

.bg-dark {
  background-color: #33334D;
}
