.text-field-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text-field-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 3rem;
}

.text-field-content > div {
  height: 100%;
}

.text-field-content > svg {
  padding-left: 1rem;
}

.text-field-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text-field-input {
  display: flex;
  flex-grow: 1;
}

.text-field-input input {
  border: none;
  font-family: 'Lato';
  font-size: 1.1rem;
  flex-grow: 1;
  margin-left: 1em;
  padding: 0;
}

.text-field-input input:focus {
  outline: none;
}

.text-field-feedback {
  color: red;
  display: none;
  font-size: 0.75rem;
  padding: 0.25rem 0;
  position: absolute;
}

.text-field-input input:disabled {
  color: #666699;
  font-style: italic;
}

.text-field-input [type="datetime-local"] {
  margin-right: 1rem;
}
