.text-field-container {
  display: flex;
  flex-grow: 1;
}

.text-field-content {
  display: flex;
  flex-grow: 1;
  padding: 0.75rem 0.25rem;
}

.text-field-label {
  font-weight: bold;
}

.text-field-input {
  border: none;
  padding: 0;
  flex-grow: 1;
}

.text-field-input:focus {
  outline: none;
}

.text-field-feedback {
  color: red;
  display: none;
  font-size: 0.75rem;
  padding: 0.25rem 0;
  position: absolute;
}

.text-field-content svg {
  height: 1.25rem;
  margin: auto;
  padding: 0 0.75rem 0 0.5rem;
}
