.account-menu-container {
  border-top: 1px solid white;
  position: absolute;
  right: 0;
  top: 4rem;
  width: 24rem;
  z-index: 1;
}

.account-menu-content {
  padding: 2rem;
  padding-bottom: 0;
}

.account-menu-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.account-menu-footer:hover {
  background-color: #1f1f2e;
  cursor: pointer;
}

.account-menu-footer .svg-fill {
  fill: white;
}

.account-menu-button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.account-menu-button button {
  height: 2.5rem;
  width: 5rem;
}

.logout-button {
  display: flex;
  height: 2.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.logout-button button {
  flex-grow: 1;
}
